html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************************************************************************************************
스와이퍼 CSS
 ********************************************************************************************************************************************/
.swiper-button-next,.swiper-button-prev {
	color: #fafafa;
	font-weight: bolder;
	text-shadow: 3px 3px 3px #d7d4d421;
}

.swiper-button-next:active ,.swiper-button-prev:active  {
	color: #fcf8f88c;
	font-weight: bolder;
	text-shadow: 0px 0px 1px #d7d4d421;
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color,#dfdbdb);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color,#fafafa);
}


/********************************************************************************************************************************************
 반응형 CSS
 ********************************************************************************************************************************************/
/* 1000px 이하 일때 아래 스타일 적용 */
@media (max-width : 1000px){

}
/* 600px 이하 일때 아래 스타일 적용 */
@media (max-width : 600px){
	
	/* 사이드바 위쪽으로 위치 변경 */
	.container-fluid{
        display: flex;
        flex-direction: column;
    }
}
/********************************************************************************************************************************************
 이미지 hover CSS
 ********************************************************************************************************************************************/

 /* 이미지 마우스 hover 효과 적용 */
 /* 
<div class="hover_effect">
    <div class="member_img">
        <div class=" div_hover_effect">
            <img class="img_hover_effect">
        </div>
    </div>
</div>
 */
 
 /* 이미지 확대 */
.img_hover_effect{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	z-index: 2;
}

.hover_effect:hover .img_hover_effect {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
    position: relative;
}
/* 텍스트 */
.hover_effect:hover .div_hover_effect::before {
	transform: translate(55%, 550%);
	content: "View More";
	position: absolute;
	color: white;
	z-index: 3;
	font-weight: 800;
	font-size: 1.2em;
	transition: all .3s;
}

/* 배경 */
.hover_effect:hover .div_hover_effect::after  {
    width: 13em;
    height: 13em;
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.395);
    z-index: 2; 
	transform: translate(-100%, 0%);
}

/* 사이드 */
.member_img::before{
	content: "";
    position: absolute;
	transition: .3s ease-in-out;
    transform: translate(-750%, -100%);
	z-index: 0; 
}
.member_img::after{
	content: "";
    position: absolute;
	transition: .3s ease-in-out;
    transform: translate(650%, -15%);
	z-index: 0; 
}

.hover_effect:hover .member_img::before {
	content: "";
    position: absolute;
	width: 1em;
	height: 1em;
	transform: translate(-750%, -100%) scale(5);
	transform-origin: left top;
    background-color: rgb(60, 193, 245);
	z-index: 0; 
}
.hover_effect:hover .member_img::after {
	content: "";
    position: absolute;
	width: 1em;
	height: 1em;
	transform: translate(650%, -15%) scale(5);
	transform-origin: right bottom;
    background-color: rgb(60, 193, 245);
	z-index: 0; 
}