/* 공통 설정 */
.container-fluid{
    height: 100vh;
}
/*******************************************/

/* 화면 배경 설정 - 최상위 */
#team-project-list {
    background-color: black;
    display: flex;
    /* 요소 여러 줄(row)로 정렬 */
    flex-wrap: wrap;
    /* 세로정렬 */
    flex-direction: column;
    justify-content: space-around;
}
/*******************************************/
.team-project-list-child{
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
/*******************************************/
/* 프로필을 감싼 Div */
.member_profile_div{ 
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    /* 간격띄우고정렬 */
    justify-content: space-evenly;
    /* align-content: space-between */
}
/*******************************************/
/* 프로필전체 */
.member_profile {
    /* border: 1px solid black; */
    width: 30%;
    font-size: 1em;
    margin:40px 0px 40px 0px;
}

/* 프로필-사진 이미지 */
.member_profile_photo {
    background-color: #686767;
    width: 60%;
}
/* 프로필-이름 */
.mameber_name{
    margin-top: 10px;
    color: white;
    font-size: 1.5vw;
}
/*******************************************/

/* 1000px 이하 일때 아래 스타일 적용 */
@media (max-width : 1000px){

    /* 프로필 위치 변경 */
    .member_profile{
        min-width: 40%;
    }
    /* 이름 폰트 사이즈 */
    .mameber_name{
        font-size: 1.3em;
    }
}


